body {
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color:#1e1e1e;

}

.body-wrapper {
    padding:0;
    margin:0;
}

.default-header {
    position:relative;
    background-color:blueviolet;
    height:300px;
    padding-top:80px;
    padding-left:10px;
    padding-right:10px;
    text-align:center;
}

    .default-header > p > a {
        color:white;
        margin-top:0;
        margin-bottom:0;
        font-size:40px;
        text-decoration:none;
    }

        .default-header > p > a:hover {
            text-decoration:none;
        }

    .default-header > h6 {
        color:white;
    }

    .default-header > div {
        margin-top:50px;
    }

footer {
    height:150px;
    text-align:center;
}

    footer > div > a {
        text-decoration:none;
        color:#1e1e1e;
    }

        footer > div > a:hover {
            text-decoration:none;
        }

.main-content {
    padding:20px;
}


/*bootstrap override*/
.form-control, 
.btn, 
.well, 
.list-group-item:first-child, 
.list-group-item:last-child {
    border-radius:0;
}

