@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewBag.Title = "Scrum Template";
    Layout = "_MainLayout";
}

@section scripts{

    <script src="~/apps/Search/ViewModels/defaultViewModel.js"></script>
    <script src="~/apps/Search/ViewModels/apiPageDocumentationViewModel.js"></script>

}
<div class="row">
    <div data-ng-view></div>
</div>
