@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewBag.Title = "Manage API";
}

@section scripts{
    <script src="~/apps/API/apiApp.js"></script>
    <script src="~/apps/API/ViewModel/registrationViewModel.js"></script>

}

<div class="row" data-ng-app="apiApp">
    <div data-ng-view></div>
</div>