@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewBag.Title = "Account";
}

<div id="login-form" class="col-md-6 col-sm-12 col-xs-12">
    <form class="form-inline form-horizontal pull-right">
        <div class="form-group">
            <input type="text" class="form-control" placeholder="Username"/>
        </div>
        <div class="form-group">
            <input type="password" class="form-control" placeholder="Password" />
        </div>
        <div class="form-group">
            <input type="submit" class="btn" value="Login"/>
        </div>
    </form>
</div>

<div class="row">
    <div class="col-md-7 col-sm-12 hidden-xs">
        <label>Motherfucker label goes here</label>
    </div>
    <div class="col-md-5 col-sm-12 col-xs-12">
        <div class="well">
            <h4>Create your own account now to register your APIs.</h4>
            <form>
                <div class="form-group">
                    <input type="text" class="form-control" placeholder="Firstname" />
                </div>
                <div class="form-group">
                    <input type="text" class="form-control" placeholder="Middlename" />
                </div>
                <div class="form-group">
                    <input type="text" class="form-control" placeholder="Lastname" />
                </div>
                <div class="form-group">
                    <input type="email" class="form-control" placeholder="Email" />
                </div>
                <div class="form-group">
                    <input type="password" class="form-control" placeholder="Password" />
                </div>
                <div class="form-group">
                    <input type="submit" class="btn btn-default" value="Create my account"/>
                </div>
            </form>
        </div>
    </div>
</div>